<form [formGroup]="viajeForm" (ngSubmit)="crearViaje()">
  <ion-list>

    <ion-item>
      <ion-input #addressInput id="pac-input" label="Origen" formControlName="origen" type="text" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Fecha y hora de salida</ion-label>
      <ion-datetime-button datetime="datetime"></ion-datetime-button>

      <ion-modal [keepContentsMounted]="true">
        <ng-template>
          <ion-datetime id="datetime" formControlName="fechaHoraSalida"></ion-datetime>
        </ng-template>
      </ion-modal>
    </ion-item>

    <ion-item>
      <ion-input label="Costo por persona" formControlName="costoPorPersona" type="number" required></ion-input>
    </ion-item>

    <ion-button type="submit" expand="block">Crear Viaje</ion-button>
  </ion-list>
</form>
