<ion-header>
  <ion-toolbar>
    <ion-title>
      TeLlevoApp
    </ion-title>
  </ion-toolbar>
</ion-header>
<img src="assets/icon/duoc.png">

<ion-content>
  <ion-text color="light">
    <div class="center-text">
    <h1>Bienvenido!</h1>
    <ion-icon name="heart" aria-hidden="true"></ion-icon>
  </div>
    
  </ion-text>
  <form (ngSubmit)="login()">

    <ion-item>
      <ion-label position="floating">Ingrese su correo</ion-label>
      <ion-input type="text" [(ngModel)]="nombre" name="nombre"></ion-input>
    </ion-item>
    
    <ion-item>
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input type="password" [(ngModel)]="password" name="password"></ion-input>
    </ion-item>
    
    <ion-button type="submit" expand="block">Iniciar sesión</ion-button>
      <div style="height: 40px;"></div>
        <div class="center-text">
      <a [routerLink]="['/password']" class="small-text">Recordar contraseña</a>
    </div>
  </form>
  

  
</ion-content>





