<ion-content [fullscreen]="true">
  <div class="container">
    <div class="errormessage">
      <h1>Error 404</h1>
      <p>No hemos podido encontrar</p>
      <p>esta pagina :(</p>
    </div>
    <div class="car">
      <img id="car" src="../../../assets/icon/car404.png" alt="" />
      <img id="man" src="../../../assets/icon/man404.png" alt="" />
      <img #wheel id="wheel" src="../../../assets/icon/wheel404.png" alt="" />
    </div>
    <div class="back">
      <ion-button (click)="backmenu()" expand="block"
        >Volver al Inicio</ion-button
      >
    </div>
  </div>
</ion-content>
