<ion-header>
  <ion-toolbar>
    <ion-title>TeLlevoApp</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-text color="light">
    <h1>Recordar contrasena</h1>
  </ion-text>
  <form (ngSubmit)="guardar()">

    <ion-item>
      <ion-label position="floating">Ingrese su correo</ion-label>
      <ion-input type="nombre" [(ngModel)]="nombre" name="nombre"></ion-input>
    </ion-item>

    <ion-button type="submit" expand="block" [routerLink]="['/login']">Confirmar</ion-button>
  </form>
</ion-content>

<ion-toolbar>
  <ion-buttons slot="start">
    <ion-back-button default-href="/"></ion-back-button>
  </ion-buttons>
  <ion-title></ion-title>
</ion-toolbar>