<ion-header>
  <ion-toolbar>
    <ion-title>Iniciar sesión</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-text color="light">
    <h1>Bienvenido!</h1>
  </ion-text>
  <form (ngSubmit)="guardar()">

    <ion-item>
      <ion-label position="floating">Nombre</ion-label>
      <ion-input type="nombre" [(ngModel)]="nombre" name="nombre"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Nueva contraseña</ion-label>
      <ion-input type="password1" [(ngModel)]="password1" name="password1"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Confirmar contraseña</ion-label>
      <ion-input type="password2" [(ngModel)]="password2" name="password2"></ion-input>

    </ion-item>
      <ion-button type="submit" expand="block" [routerLink]="['/login']">Confirmar</ion-button>
  </form>
</ion-content>

