<ion-header>
  <ion-toolbar>
    <ion-title>Registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form (ngSubmit)="onRegister()">
    <ion-item>
      <ion-label position="floating">Nombre de usuario</ion-label>
      <ion-input type="text" name="nombre" [(ngModel)]="userData.nombre"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Correo electrónico</ion-label>
      <ion-input type="email" name="email" [(ngModel)]="userData.email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Tipo de usuario</ion-label>
      <ion-select [(ngModel)]="userData.es_conductor" name="es_conductor">
        <ion-select-option [value]="false">Pasajero</ion-select-option>
        <ion-select-option [value]="true">Conductor</ion-select-option>
      </ion-select>
    </ion-item>

    <ng-container *ngIf="userData.es_conductor">
      <ion-item>
        <ion-label position="floating">Patente</ion-label>
        <ion-input type="text" name="patente" [(ngModel)]="userData.patente"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Marca</ion-label>
        <ion-input type="text" name="marca" [(ngModel)]="userData.marca"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Modelo</ion-label>
        <ion-input type="text" name="modelo" [(ngModel)]="userData.modelo"></ion-input>
      </ion-item>
    </ng-container>

    <ion-item>
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input type="password" name="password" [(ngModel)]="userData.password"></ion-input>
    </ion-item>
    
    <ion-item>
      <ion-label position="floating">Confirmar Contraseña</ion-label>
      <ion-input type="password" name="confirmPassword" [(ngModel)]="confirmPassword"></ion-input>
    </ion-item>

    <ion-button expand="block" type="submit">Registrarse</ion-button>
  </form>
  <div class="center-text">
  <a [routerLink]="['/login']" class="small-text">Ya tienes cuenta? Inicia sesión</a>
  </div>
</ion-content>
